.home {
    text-decoration: none;
}

.links {
    padding: 1.2rem;
    margin: 0;
    background-color: #78d5d7;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-right: 1rem;
    clip-path: polygon(0 0, 100% 1%, 100% 71%, 0 90%);
}

.title {
    color : #080808;
    font-size: 2.3rem;
    font-family: 'Tilt Neon', cursive;
    text-decoration: none;

    
}

.nav {
    display: flex;
    justify-content: space-between;
   
}

.link {
    font-family: 'Tilt Neon', cursive;
    font-size: 2rem;
    color: #1f2020;
    text-decoration: none;
    align-self: center;
    margin-right: 2rem;
}