
.page {
    display: flex;
}

.title {
    text-align: center;
    font-family: 'Tilt Neon', cursive;
}
.ctn {
    
    margin: 0 2rem;
    
}

.img {
    margin-top: 0.1rem;
    border-radius: 50%;
}

.para {
    font-family: 'Tilt Neon', cursive;
    font-size: 2rem;
    text-align: center;
}