
.page {
    background-color: #f7f9f9;
}

.title {
    text-align: center;
}
.ctn {
    
    margin: 0 2rem;
    /* background-image: url(/exo_redux/src/photos/logo.jpg); */
}

.para {
    font-size: 2rem;
    text-align: center;
}